# **Credit Card Fraud Detection**
**Anonymized credit card transactions labeled as fraudulent or genuine**

## **Importing the data**

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
CC_data = pd.read_csv('/content/creditcard.csv')

In [4]:
CC_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

## **Checking missing values**

### **Checking missing values**

In [5]:
CC_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

### **Checking the distribution of legit transactions & fraudulent transactions**

In [6]:
CC_data['Class'].value_counts() #0=Normal Transaction 1=Fraudulent Transaction

0    284315
1       492
Name: Class, dtype: int64

### **Separating the data for analysis**

In [7]:
Legit = CC_data[CC_data.Class == 0]
Fraud = CC_data[CC_data.Class == 1]

In [10]:
print(Legit.shape)
print(Fraud.shape)

(284315, 31)
(492, 31)

### **A comparison between two types of transactions**

In [11]:
CC_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

##**Sampling**

In [40]:
Legit_sample = Legit.sample(n=492)

### **Concatenating two dfs**

> Indented block

In [41]:
New_CC_data = pd.concat([Legit_sample, Fraud], axis =0)

In [42]:
New_CC_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
90411,63009.0,-5.028045,-3.028709,0.578980,1.289519,1.093694,-1.109184,-0.729140,0.969484,-0.085446,...,-0.084425,0.351192,0.884339,0.272566,0.624735,-0.431898,0.084213,-0.385840,100.00,0
102335,68153.0,1.266968,-0.169714,0.541171,0.177248,-0.623130,-0.395491,-0.296077,-0.025225,0.776599,...,-0.430763,-1.122379,0.107416,-0.112128,0.131757,0.760525,-0.060571,0.006742,12.75,0
122488,76580.0,1.091455,-0.032969,0.409525,0.555968,-0.405151,-0.369096,-0.069321,0.091979,-0.102398,...,-0.099534,-0.414890,0.101764,0.203654,0.138972,0.172487,-0.036208,0.008068,40.44,0
110151,71701.0,1.429962,-0.504062,-0.109617,-1.038653,-0.163086,0.197933,-0.522535,-0.027999,-0.830037,...,-0.183531,-0.627868,-0.015380,-1.342368,0.350946,-0.404048,0.021513,0.008855,27.73,0
86523,61272.0,-1.093819,-1.353911,1.162288,-2.390358,-1.358767,0.672422,-0.020224,0.110306,-2.079319,...,0.102423,1.016778,0.616354,-0.311622,-0.802170,-0.342664,0.147565,0.155978,206.00,0

In [43]:
New_CC_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
New_CC_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
New_CC_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92829.113821,0.021198,-0.158549,0.016513,-0.024749,0.132041,-0.078731,-0.045243,0.041932,0.036034,...,0.029002,-0.009365,0.006046,-0.001998,-0.034782,-0.013101,0.016574,-0.018347,-0.011553,91.128537
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### **Data sepration as X and Y**

In [44]:
X= New_CC_data.drop(columns='Class', axis = 1)
Y= New_CC_data['Class']

In [45]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
90411    63009.0 -5.028045 -3.028709  0.578980  1.289519  1.093694 -1.109184
102335   68153.0  1.266968 -0.169714  0.541171  0.177248 -0.623130 -0.395491
122488   76580.0  1.091455 -0.032969  0.409525  0.555968 -0.405151 -0.369096
110151   71701.0  1.429962 -0.504062 -0.109617 -1.038653 -0.163086  0.197933
86523    61272.0 -1.093819 -1.353911  1.162288 -2.390358 -1.358767  0.672422
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
90411  -0.729140  0.969484 -0.085446  ... -1.089097 -0.084425  0.351192
102335 -0.296077 -0.025225  0.776599  ... -0.072181 -0.430763 -1.122379
122488 -0.069321  0.091979 -0.102398  ... -0.117916 -0.099534 -0.414890
110151 -0.522535 -0.027999 -0.830037  ...  0.158177 -0.183531 -0.627868
86523  -0.020224  0.110306 -2.079319  ... -0.752018  0.102423  1.016778
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
90411   0.884339  0.272566  0.624735 -0.431898  0.084213 -0.385840  100.00
102335  0.107416 -0.112128  0.131757  0.760525 -0.060571  0.006742   12.75
122488  0.101764  0.203654  0.138972  0.172487 -0.036208  0.008068   40.44
110151 -0.015380 -1.342368  0.350946 -0.404048  0.021513  0.008855   27.73
86523   0.616354 -0.311622 -0.802170 -0.342664  0.147565  0.155978  206.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [46]:
print(Y)

90411     0
102335    0
122488    0
110151    0
86523     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

###**Data Splitting; train and test data**

In [47]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2, stratify=Y, random_state=2)

In [48]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

## **Building Model**

### **Logistic Regression**

In [49]:
model = LogisticRegression()

In [50]:
model.fit(X_train, Y_train)

LogisticRegression()

## **Evaluate model performance**

In [51]:
X_train_pred = model.predict(X_train)
Training_data_accuracy = accuracy_score(X_train_pred, Y_train)

In [52]:
print ('Accuracy of tranied data :', Training_data_accuracy)

Accuracy of tranied data : 0.9390088945362135

In [55]:
X_test_pred = model.predict(X_test)
Test_data_accuracy = accuracy_score(X_test_pred, Y_test)

In [56]:
print ('Accuracy of tested data :', Test_data_accuracy)

Accuracy of tested data : 0.9238578680203046